<div id="nav-shop">
    <ul class="dropdown menu" data-dropdown-menu>
      <!-- we need to understand how to list current departments, categories, or brands before we turn on this pull down -->
<!--       <li>
        <a href="#" id="nav-link-shopall">
            <span class="nav-line-1"></span>
            <span class="nav-line-2">Departments</span>
        </a>
        <ul class="menu" >
          <li><a href="#">link to HBB cat 1</a></li>
          <li><a href="#">link to HBB cat 2</a></li>
        </ul>
      </li> -->
      <!-- baking bee is a wishlist -->
      <!-- <li><a href="#">Your Baking Bee</a></li> -->
      <!-- we need to learn how to feature items before we turn on deals link -->
      <!-- <li><a href="#">Today's Deals</a></li> -->
      <!-- gift cards could be an upcoming feature -->
      <!-- <li><a href="#">Gift Cards</a></li> -->
      <!-- a wedding registry could be nice -->
      <!-- <li><a href="#">Registry</a></li> -->
    </ul>
</div>

