<div id="nav-tools">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#" id="nav-link-shopall">
            <span class="nav-line-1"></span>
            <span class="nav-line-2">Account &amp; Lists</span>
        </a>
        <ul class="menu" >
          <li>patial to display panel for sign-in button and your lists and your account links
          </li>
        </ul>
      </li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Orders</a></li>
      <li><%= link_to "Cart", cart_path %></li>
    </ul>


</div>

