<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
                <h1>
                    Heather's Baking Bee
                </h1>
                <p class="text-white">
                    Yummy homemade goodness.
                </p>
                <a href="/yummies" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
            </div>                                              
        </div>
    </div>
</section>
<!-- End banner Area -->    
