            <!-- start blog Area -->        
            <section class="blog-area section-gap" id="blog">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-70 col-lg-8">
                            <div class="title text-center">
                                <h1 class="mb-10">Latest From Our Blog</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>                  
                    <div class="row">
                        <div class="col-lg-3 col-md-6 single-blog">
                            <div class="thumb">
                                <%= image_tag("b1.jpg", class: "img-fluid")  %>
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="#"><h4>Cooking Perfect Fried Rice
                            in minutes</h4></a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                                <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                            </div>                                  
                        </div>
                        <div class="col-lg-3 col-md-6 single-blog">
                            <div class="thumb">
                                <%= image_tag("b2.jpg", class: "img-fluid")  %>
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="#"><h4>Secret of making Heart 
                            Shaped eggs</h4></a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                                <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                            </div>                                  
                        </div>
                        <div class="col-lg-3 col-md-6 single-blog">
                            <div class="thumb">
                                <%= image_tag("b3.jpg", class: "img-fluid")  %>
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="#"><h4>How to check steak if 
                            it is tender or not</h4></a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                                <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                            </div>                                  
                        </div>
                        <div class="col-lg-3 col-md-6 single-blog">
                            <div class="thumb">
                                <%= image_tag("b4.jpg", class: "img-fluid")  %>
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="#"><h4>Addiction When Gambling
                            Becomes A Problem</h4></a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                                <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                            </div>                                  
                        </div>                      
                    </div>
                </div>  
            </section>
            <!-- end blog Area -->  
