<!-- Start related Area (slideshow) -->
<section class="related-area section-gap" id="featured">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Featured Food Menus</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>                      
        <div class="row justify-content-center">
            <div class="active-realated-carusel">
                <div class="item row align-items-center">
                    <div class="col-lg-6 rel-left">
                       <h3>
                            Fresh & Crispy All the time
                       </h3>
                       <p class="pt-30 pb-30">
                            Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       </p>
                        <a href="/yummies" class="primary-btn header-btn text-uppercase">view full menu</a>                                   
                    </div>
                    <div class="col-lg-6">
                        <%= image_tag("slider1.jpg", class: "img-fluid")  %> 
                    </div>
                </div>
                <div class="item row align-items-center">
                    <div class="col-lg-6 rel-left">
                       <h3>
                            Fresh & Crispy All the time
                       </h3>
                       <p class="pt-30 pb-30">
                            Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       </p>
                        <a href="/yummies" class="primary-btn header-btn text-uppercase">view full menu</a>                                   
                    </div>
                    <div class="col-lg-6">
                        <%= image_tag("slider1.jpg", class: "img-fluid")  %>
                    </div>
                </div>                          
            </div>
        </div>
    </div>  
</section>
<!-- End related Area -->   
