            <!-- Start team Area -->
            <section class="team-area section-gap" id="chefs">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-70 col-lg-8">
                            <div class="title text-center">
                                <h1 class="mb-10">Meet the Baker</h1>
                                <p>She loves what she does.</p>
                            </div>
                        </div>
                    </div>                      
                    <div class="row justify-content-center d-flex align-items-center">
                        <div class="col-md-3 single-team">
                            <div class="thumb">
                                <%= image_tag("hbb/heather.jpg", class: "img-fluid")  %>
                                <div class="align-items-center justify-content-center d-flex">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="meta-text mt-30 text-center">
                                <h4>Heather Raymond</h4>
                                <p>The Baker</p>                                            
                            </div>
                        </div>
                        <div class="col-md-6 single-team">
    					After years of dreaming, I’m so excited to bring to you ( literally ) my homemade goodies! 
    					This business is because of my Grandparents. Some of my earliest memories are of baking cookies in the kitchen with my Grandpa, who called my Grandma Bee. I hope you enjoy my treats as much as I enjoy the associated memories.  :) 
    					I will be delivering in San Francisco on Tuesdays and Thursdays. Please be sure to state in your order where and what day you would like delivery. 
    					Message me if you are looking for treats for a special occasion and i will be posting local events as they occur.
                        </div>  
                    </div>
                </div>  
            </section>
            <!-- End team Area -->          