            <!-- Start testimonials Area -->
            <section class="features-area pt-100" id="testimonials">
                <div class="container">
                    <div class="feature-section">
                        <div class="row">
                            <div class="single-feature col-lg-3 col-md-6">
                                <%= fa_icon "thumbs-up 4x" %>
                                <h4 class="pt-20 pb-20">Refreshing Breakfast</h4>
                                <p>Heather's baked goods are absolutely hands down delicious! If you have never had a home made English muffin you're missing out. Do it! I highly recommend her brownies. They have a full chocolatey buttery texture that is simply delectable. She also makes treats for doggie! My dog Scotty gives them 2 paws up! Whatever you order it will be delish! She is punctual and accommodating with your dietary needs. Don't wait! Just order! You will be glad you did!

                                </p>
                            </div>
                            <div class="single-feature col-lg-3 col-md-6">
                                <%= fa_icon "thumbs-up 4x" %>
                                <h4 class="pt-20 pb-20">Pure perfection</h4>
                                <p>Heather takes her time to ensure perfection in every bite! No additives or extraneous ingredients to drown out flavor! Her lemon cookies are soft and moist and wonderful, melts in your mouth! We had her dinner rolls with our chicken and they are perfect for dipping in juices!! Heather is who I'm gonna go to for all my pastry needs!!!
                                </p>
                            </div>
                            <div class="single-feature col-lg-3 col-md-6">
                                <%= fa_icon "thumbs-up 4x" %>
                                <h4 class="pt-20 pb-20">Firemen like 'em</h4>
                                <p>    Heather delivered an order to our local firehouse after we had a fire and then one to our home. Everything we have tried is wonderful. I especially love the fresh English muffins and the dogs as crazy over their dog treats. Pumpkin Cranberry bread, the best I have ever had. Thank you Heather!
                                </p>
                            </div>
                            <div class="single-feature col-lg-3 col-md-6">
                                <%= fa_icon "thumbs-up 4x" %>
                                <h4 class="pt-20 pb-20">Melt in your mouth</h4>
                                <p>Heather takes her time to ensure perfection in every bite! No additives or extraneous ingredients to drown out flavor! Her lemon cookies are soft and moist and wonderful, melts in your mouth! We had her dinner rolls with our chicken and they are perfect for dipping in juices!! Heather is who I'm gonna go to for all my pastry needs!!!
                                </p>
                            </div>                                                      
                        </div>                                          
                    </div>
                </div>  
            </section>
            <!-- End testimonials Area -->