            <!-- Start top-dish Area -->
            <section class="top-dish-area section-gap" id="dish">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-60 col-lg-8">
                            <div class="title text-center">
                                <h1 class="mb-10">Our Top Rated Dishes</h1>
                                <p>Who are in extremely love with eco friendly system.</p>
                            </div>
                        </div>
                    </div>                      
                    <div class="row">
                        <div class="single-dish col-lg-4">
                            <div class="thumb">
                                <%= link_to image_tag("hbb/chocolate_doughnuts", width: "360"), "/yummies" %>
                            </div>
                            <a href="/yummies">
                                <h4 class="text-uppercase pt-20 pb-20">
                                    Chocolate Doughnuts
                                </h4>
                                
                            </a>
                            <p>
                                inappropriate dinner roll is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                            </p>
                        </div>
                        <div class="single-dish col-lg-4">
                            <div class="thumb">
                                <%= link_to image_tag("hbb/whoopie_pies", width: "360"), "/yummies" %>
                            </div>
                            <a href="/yummies">
                                <h4 class="text-uppercase pt-20 pb-20">
                                    Whoopie Pies
                                </h4>
                                
                            </a>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                            </p>
                        </div>
                        <div class="single-dish col-lg-4">
                            <div class="thumb">
                                <%= image_tag("hbb/home_canned_fruit", width: "360") %>
                            </div>
                            <a href="/yummies">
                                <h4 class="text-uppercase pt-20 pb-20">
                                    Home Canned Fruit
                                </h4>
                                
                            </a>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                            </p>
                        </div>                                              
                    </div>
                </div>  
            </section>
            <!-- End top-dish Area -->
