            <!-- Start video Area -->
            <section class="video-area">
                <div class="container">
                    <div class="row justify-content-center align-items-center flex-column">
                        <a class="play-btn" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                            <%= image_tag("play-btn.png") %>
                        </a>
                        <h3 class="pt-20 pb-20 text-white">We Always serve the vaping hot and delicious foods</h3>
                        <p class="text-white">Youtube video will appear in popover</p>
                    </div>
                </div>  
            </section>
            <!-- End video Area -->