<link rel="publisher" href="https://npmcdn.com/js-offcanvas@1.2.4/dist/_css/minified/js-offcanvas.css">
<script src="https://npmcdn.com/js-offcanvas/dist/_js/js-offcanvas.pkgd.min.js"></script>

    <%#= render partial: '/application/slide_in_sidebar'%>
<!--Offcanvas Content Wrapper-->
<main class="c-offcanvas-content-wrap" role="main">
  <button class="c-button js-offcanvas-trigger" data-offcanvas-trigger="off-canvas-left">Left</button>
</main>

<!--Offcanvas Panels-->
<aside class="js-offcanvas" id="off-canvas-left" role="complementary">navihere</aside>