            <div class="nav-right">
                <script type="text/javascript">
//                    window.navmet.tmp = +new Date();
                </script>

                <div id="nav-swmslot">
                    <div id="navSwmHoliday" style="width: 400px; height: 39px; overflow: hidden;position: relative;">
                        <a aria-label="Echo Spot: Buy 2, save $40" href="http://www.amazon.com/dp/B073SQYXTW/ref=nav_swm_ods_swm_aucc_rk_l?pf_rd_m=ATVPDKIKX0DER&amp;pf_rd_s=nav-sitewide-msg&amp;pf_rd_r=27EAW0610N7H62EN6V4S&amp;pf_rd_r=27EAW0610N7H62EN6V4S&amp;pf_rd_t=4201&amp;pf_rd_p=ab6734e2-c641-465d-8774-c3a18fedb284&amp;pf_rd_p=ab6734e2-c641-465d-8774-c3a18fedb284&amp;pf_rd_i=navbar-4201" class="nav-imageHref" tabindex="21">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/AUCC/SWM/VX-1862_AuCC-US-SWM-Multipack_SWM-ESpot-400x39-1X_V2._CB495024555_.jpg" border="0">
                        </a>
                    </div>
                </div>
                <script type="text/javascript">
/*                    window.navmet.push({
                        key: 'SWM',
                        end: +new Date(),
                        begin: window.navmet.tmp
                    }); */
                </script>
            </div>
