<span data-component-type="s-result-info-bar" class="rush-component" data-component-id="1">

<div class="s-mobile-toolbar sg-row">
    <div class="sg-col sg-col-12-of-12"><div class="sg-col-inner">
        <div class="a-section s-mobile-toolbar-filter aok-float-right">
            <span data-component-type="s-filters-link-view" class="rush-component" data-component-id="2">

<span class="a-declarative" data-action="a-secondary-view" data-a-secondary-view="{&quot;backButtonText&quot;:&quot;Back&quot;,&quot;alternateBackground&quot;:&quot;1&quot;,&quot;dataStrategy&quot;:&quot;preload&quot;,&quot;closeButtonLabel&quot;:&quot;Back&quot;,&quot;name&quot;:&quot;filter_view&quot;,&quot;popoverLabel&quot;:&quot;Filter&quot;}" id="filters-link-declarative">
    <span class="a-declarative" data-action="open-filter-view" data-open-filter-view="{&quot;popoverContainerId&quot;:&quot;filters-link-declarative&quot;,&quot;popoverName&quot;:&quot;filters-panel-view&quot;}">
        <a class="a-link-normal" href="#">

                <span class="a-size-small a-color-base">Filter</span>

<span class="a-size-small a-color-state">(1)</span>

<i class="a-icon a-icon-section-expand a-icon-small aok-align-center" role="img"></i>
</a>
</span>
</span>

</span>
</div>
<div class="a-section s-rib-toggle-column aok-float-right">

    <a id="s-rib-toggle-container" class="a-link-normal aok-inline-block" href="/s?k=bottle&amp;i=baby-products&amp;rh=p_85%3A2470955011&amp;dc&amp;qid=1532055323&amp;rnid=2470954011&amp;ref=is_r_p_85_1">
        <span class="s-rib-toggle-icon">
        <i class="a-icon a-icon-prime a-icon-small" role="img" aria-label="Prime Eligible"></i>
    </span>
        <span class="s-rib-toggle ">
</span></a>

</div>
<div class="a-section s-line-clamp-2">
    <div class="a-section s-mobile-results-container s-align-children-center">
        <span class="a-size-small a-color-secondary s-table-cell">
                    <span class="a-size-small a-color-secondary">Over </span><span class="a-size-small a-color-secondary">10,000</span><span class="a-size-small a-color-secondary"> results</span>
        </span>
    </div>
</div>
</div>
</div>
</div>

</span>