<div id="nav-flyout-accountList" class="nav-coreFlyout nav-flyout">
    <div class="nav-arrow">
        <div class="nav-arrow-inner"></div>
    </div>
    <div class="nav-template nav-flyout-content">
        <div id="nav-al-container" class="grid-y"  style="width: 400px;">
            <div id="nav-al-signin" class="cell">
                <div class="grid-margin-x vertical-center">
                    <div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-3">&nbsp;</div>
    <div class="cell auto">
                    <%= render partial: 'spree/shared/medium/nav_flyout_anchor/nav_flyout_ya_signin'%>
        
    </div>
    <div class="cellmedium-3">&nbsp;</div>
  </div>
</div>
                </div>
            </div>
            <div class="cell">
                <div class="grid-x grid-margin-x">
                    <div id="nav-al-wishlist" class="nav-al-column nav-tpl-itemList cell medium-6">
                        <!-- user lists go here -->
                        <%= render partial: 'spree/shared/medium/nav_flyout_anchor/nav_al_wishlist'%>
                    </div>
                    <div id="nav-al-your-account" class="nav-al-column nav-template nav-flyout-content nav-tpl-itemList cell auto">
                        <%= render partial: 'spree/shared/medium/nav_flyout_anchor/nav_al_your_account'%>
                    </div>
                </div>
                <div class="grid-x">
                    <div >
                    </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-subcats"></div>
</div>