    <div class="nav-title">Your Account</div>
    <a href="/gp/css/homepage.html/ref=nav_youraccount_ya" class="nav-link nav-item">
        <span class="nav-text">Your Account</span>
    </a>
    <a href="/gp/css/order-history/ref=nav_youraccount_orders" class="nav-link nav-item" id="nav_prefetch_yourorders">
        <span class="nav-text">Your Orders</span>
    </a>
    <a href="/gp/registry/wishlist/ref=nav_youraccount_wl?ie=UTF8&amp;requiresSignIn=1" class="nav-link nav-item">
        <span class="nav-text">Your Lists</span>
    </a>
    <a href="/gp/yourstore/ref=nav_youraccount_recs" class="nav-link nav-item">
        <span class="nav-text">Your Recommendations</span>
    </a>
    <a href="/gp/subscribe-and-save/manager/viewsubscriptions/ref=nav_youraccount_sns" class="nav-link nav-item">
        <span class="nav-text">Your Subscribe &amp; Save Items</span>
    </a>
    <a href="/yourmembershipsandsubscriptions/ref=nav_youraccount_digital_subscriptions" class="nav-link nav-item"><span class="nav-text">Memberships &amp; Subscriptions</span></a>
    <a href="/localservices/ya/servicerequests/ref=nav_youraccount_desktop_vas_requestlist" class="nav-link nav-item">
        <span class="nav-text">Your Service Requests</span>
    </a>
