<div id="nav-flyout-prime" class="nav-coreFlyout nav-flyout">
    <div class="nav-arrow">
        <div class="nav-arrow-inner"></div>
    </div>
    <div class="nav-template nav-flyout-content nav-spinner"></div>
</div>
<div id="nav-flyout-primeTooltip" class="nav-flyout">
    <div class="nav-arrow">
        <div class="nav-arrow-inner"></div>
    </div>
    <div class="nav-template nav-flyout-content" id="nav-prime-tooltip">
        <div class="nav-npt-text-title"> Get fast, free shipping with Amazon Prime </div>
        <div class="nav-npt-text-detail"> Prime members enjoy FREE Two-Day Shipping and exclusive access to music, movies, TV shows, original audio series, and Kindle books. </div>
        <div class="nav-npt-text-detail">
            &gt;
            <a class="nav-npt-a" href="/gp/prime/ref=nav_tooltip_redirect">Get started</a>
        </div>
    </div>
</div>
