<div class="show-for-small-only">
	<%= render partial: 'spree/shared/small_only/breadcrumbs_and_sort_order'%>
</div>
<div class="show-for-medium">
    <div class="grid-x grid-margin-x">
	    <div class="cell medium-8 medium-offset-1">
	      <!-- breadcrumbs here?  -->
	    </div>
	    <div class="cell medium-3">
	      sort by [buda pulldown menu]
	    </div>
	</div>
</div>