<footer id="nav-ftr" class="sixteen columns nav-mobile nav-locale-us nav-lang-en nav-ftr-batmobile" data-hook>
	<div id="footer-left" class="columns alpha eight" data-hook>
	<p><%= t 'spree.powered_by' %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>
	</div>
	<div id="footer-right" class="columns omega eight" data-hook></div>

	<div class="show-for-small-only">
	    <%= render partial: 'spree/shared/small_only/footer'%>
	</div>
	<div class="show-for-medium">
	        <%= render partial: 'spree/shared/medium/footer'%>
	</div>

</footer>
