<div id="nav-upnav" aria-hidden="true" style="background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/airstream/upnav/C/nav_latest_1x._CB475728145_.jpg); background-color: #F6F6F6; text-align: left; background-position: top left; height: 55px; background-repeat: no-repeat; background-size: 1920px; min-width: 1000px;">
    <a href="https://www.amazon.com/stream/ref=nav_upnav_LargeImage_C_Landing" class="nav-a" tabindex="5">
    	<span class="nav-spanAltText" style="display: none;">Interesting Finds Updated Daily</span> 
    </a>

  </div>