	<div class="show-for-small-only">
	    <%= render partial: 'spree/shared/small_only/sidebar'%>
	</div>
	<div class="show-for-medium">
	        <%= render partial: 'spree/shared/medium/sidebar'%>
	</div>
