<div class="gwm-Nav-head">
  <div id="nav-mobile-airstream-stripe" class="row">
      <div class="col-sm-12">

          <a id="nav-mobile-airstream-link" href="#" aria-hidden="true" tabindex="-1">
              <img id="nav-mobile-airstream-stripe-img" src="http://via.placeholder.com/828x100" alt="Interesting finds, updated daily">
          </a>
      </div>
  </div>
  <header>
    <div id="navbar" role="navigation">
      <div id="nav-logobar" class="nav-mobile-airstream-stripe row">
          <div class="col-sm-12">

              <div class="row">
                  <div class="nav-left">
                      <div class="navbar-toggler"  style="background-color: orange;">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                      </div>
                  </div>
                  <div class="col-4 col-sm-6 nav-right" style="background-color: green">
                    <div class="row">
                      <div class="col-6">
                        <a href="#">Sign In</a>                    
                         <a href="#" class="nav-a" id="nav-button-avatar">
                          <i class="nav-icon nav-icon-a11y nav-sprite">your account</i>
                        </a> 
                      </div>
                      <div class="col-6">
                        <a href="/gp/aw/c/ref=navm_hdr_cart" aria-label="Cart" class="nav-a" id="nav-button-cart">
                          <div class="nav-cart-empty">
                            <i class="nav-icon nav-sprite"></i> 
                            <span class="nav-cart-count">0</span>
                          </div>
                        </a>                    

                      </div>
                    </div>

                  </div>
              </div>
          </div>
      </div>
      
    </div>
  </header>

</div>