
  <header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="#">
                <%= image_tag("logo.png") %>
            </a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="#home">Home</a></li>
              <li><a href="/yummies">Yummies</a></li>
              <li><a href="#dish">Specials</a></li>
              <li><a href="#chefs">Meet the Baker</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#blog">Blog</a></li>
              <li><a href="#contact">Contact</a></li>
<!--                           <li class="menu-has-children"><a href="">Pages</a>
                <ul>
                  <li><a href="generic.html">Generic</a></li>
                  <li><a href="elements.html">Elements</a></li>
                </ul>
              </li>
-->                        </ul>
          </nav><!-- #nav-menu-container -->                    
        </div>
    </div>
  </header><!-- #header -->
