<div class="nav-left">
    <script type="text/javascript">
        window.navmet.tmp = +new Date();
    </script>
    <div id="nav-logo">
        <a href="/ref=nav_logo" class="nav-logo-link" tabindex="6">
            <span class="nav-logo-base nav-sprite">Amazon</span>
            <span class="nav-logo-ext nav-sprite"></span>
            <span class="nav-logo-locale nav-sprite"></span>
        </a>

        <a href="/gp/prime/ref=nav_logo_prime_join" aria-label="" tabindex="7" class="nav-logo-tagline nav-sprite nav-prime-try">
Try Prime
</a>

    </div>

    <script type="text/javascript">
        window.navmet.push({
            key: 'Logo',
            end: +new Date(),
            begin: window.navmet.tmp
        });
    </script>
</div>
