            <div class="nav-fill">
                <script type="text/javascript">
//                    window.navmet.tmp = +new Date();
                </script>
                <div id="nav-search">
                    <div id="nav-bar-left"></div>
                    <%= render partial: 'spree/shared/medium/nav_belt/search_form'%>
                </div>
                <script type="text/javascript">
                    /*
                    window.navmet.push({
                        key: 'SearchBar',
                        end: +new Date(),
                        begin: window.navmet.tmp
                    });
                    */
                </script>
            </div>
