            <div class="nav-left">
                <script type="text/javascript">
                    window.navmet.tmp = +new Date();
                </script>
                <div id="nav-logo">
                    <%= logo %>
                </div>

                <script type="text/javascript">
                    window.navmet.push({
                        key: 'Logo',
                        end: +new Date(),
                        begin: window.navmet.tmp
                    });
                </script>
            </div>
