            <div class="nav-right">
                <script type="text/javascript">
                    window.navmet.tmp = +new Date();
                </script>

                <div id="nav-swmslot">
                    <div id="navSwmHoliday" style="width: 400px; height: 39px; overflow: hidden;position: relative;">
                        <a aria-label="Echo: Buy 2, save $30" href="http://www.amazon.com/dp/B06XCM9LJ4/ref=nav_swm_ods_swm_aucc_rr_l?pf_rd_m=ATVPDKIKX0DER&amp;pf_rd_s=nav-sitewide-msg&amp;pf_rd_r=Q3BSAC17V9SY4KWQJDY3&amp;pf_rd_r=Q3BSAC17V9SY4KWQJDY3&amp;pf_rd_t=4201&amp;pf_rd_p=a6c2f8ca-04b2-4976-9474-1f00058402e3&amp;pf_rd_p=a6c2f8ca-04b2-4976-9474-1f00058402e3&amp;pf_rd_i=navbar-4201" class="nav-imageHref" tabindex="21"><img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/AUCC/SWM/VX-1862_AuCC-US-SWM-Multipack_SWM-Echo-400x39-1X_V2._CB495024551_.jpg" border="0"></a>
                    </div>
                </div>
                <script type="text/javascript">
                    window.navmet.push({
                        key: 'SWM',
                        end: +new Date(),
                        begin: window.navmet.tmp
                    });
                </script>
            </div>
