<div class="nav-right">


    <div id="nav-swmslot">
        <div id="navSwmHoliday" style="width: 400px; height: 39px; overflow: hidden;position: relative;" class="">
            <a aria-label="Prime Day: Deals start July 16" href="http://www.amazon.com/primeday/ref=nav_swm_PD_SWM_announce?pf_rd_m=ATVPDKIKX0DER&amp;pf_rd_s=nav-sitewide-msg&amp;pf_rd_r=QQKKHM8KNNX8TH63Q5CH&amp;pf_rd_r=QQKKHM8KNNX8TH63Q5CH&amp;pf_rd_t=4201&amp;pf_rd_p=08611b77-3d8e-40d7-babe-797023cda5b2&amp;pf_rd_p=08611b77-3d8e-40d7-babe-797023cda5b2&amp;pf_rd_i=navbar-4201" class="nav-imageHref" tabindex="21"><img src="https://images-na.ssl-images-amazon.com/images/G/01/Gateway/Events/2018/PrimeDay/LeadUp/Desktop/PD18_US_Announce_GW_SWM_400x39._CB474492910_.png" border="0"></a>
        </div>
    </div>
</div>